<h1>Lifestream - <%= link_to 'Refresh', :controller => 'feeds', :action => 'refresh' %></h1>

<ol>
<%- @items.each do |item| -%>
  <% item.pretty %>
  <li class="<%= item.type %>">
    <%= render :partial => item.type, :locals => { :item => item } %>
  </li>
<%- end -%>
</ol>